<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf D. Transposon Insertion Strains in High Ionic Strength, High REE}
{\bf Strain}
{\bf % Relative Change in Biosprption}
Arc Regulation
MSHA Pilus Assembly
Polysaccharide Synthesis 1
Polysaccharide Synthesis 2
Pyrimidine Synthesis
Miscellaneous

{\bf D. Transposon Insertion Strains in High Ionic Strength, High REE}
{\bf Relative Change in Biosprption}
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
