<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1653450801.354326</real>
	<key>UUID</key>
	<string>18537BF1-D24D-44F4-B2D8-EB4288785AF3</string>
</dict>
</plist>
