<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf E. Effect of Reducing {\it K}_{D Eu} on Steps to Reach High Purity of Eu}
{\bf Dissociation Constant of Single Site for Eu, {\it K}_{{\it D} Eu, 0} / {\it K}_{{\it D} Eu, new}}
{\bf Bind/Elute Steps to Achieve Purity}
Target Purity of Eu = 90%
95%
99%
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
