<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf A. Effect of Reducing {\it K}_{D Eu} on Composition of Bound Metals}
{\bf Dissociation Constant of Single Site for Eu, {\it K}_{{\it D} Eu, 0} / {\it K}_{{\it D} Eu, new}}
{\bf Fraction of Eu in Bound Metals, {\it f}_{Eu, b}}
Eu
Yb
La
1. Wild-type {\it S. oneidensis} under LH conditions
Typical size of increase caused by single gene disruptions
Largest anticipated effect of single gene disruption
Possible effects of combining multiple gene edits

{\bf A. Effect of Reducing {\it K}_{D Eu} on Composition of Bound Metals}
{\bf Dissociation Constant of Single Site for Eu, {\it K}_{{\it D} Eu, 0} / {\it K}_{{\it D} Eu, new}}
{\bf Fraction of Eu in Bound Metals, {\it f}_{Eu, b}}
Eu
Yb
La

{\bf B. Effect of Reducing {\it K}_{D Eu} on Separation Factor}
{\bf Dissociation Constant of Single Site for Eu, {\it K}_{{\it D} Eu, 0} / {\it K}_{{\it D} Eu, new}}
{\bf Separation Factor, {\it \alpha}}
{\it \alpha}_{Eu}^{Yb}
{\it \alpha}_{Eu}^{La}
{\it \alpha}_{Yb}^{La}
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
