<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1657829514.7238531</real>
	<key>UUID</key>
	<string>0528BA1C-AB00-4977-8DB3-DCDA8A739EDA</string>
</dict>
</plist>
