<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1653146449.8012462</real>
	<key>UUID</key>
	<string>982D2475-B575-4AEC-9B0A-E0A2CD52D10A</string>
</dict>
</plist>
