<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1656524769.262188</real>
	<key>UUID</key>
	<string>C309552A-EAA3-48BD-8E23-0C6495B8AE68</string>
</dict>
</plist>
