<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1656527817.842917</real>
	<key>UUID</key>
	<string>5EDAAC62-3329-441C-9192-92C9CF67F185</string>
</dict>
</plist>
