<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1655749483.802989</real>
	<key>UUID</key>
	<string>B3284F1A-B00F-4A0E-B395-0E70E9C5E96F</string>
</dict>
</plist>
