<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf B. Separation Factor Change in Low Ionic Strength, Low REE}
{\bf Sample Incubation Time (min)}
{\bf Separation Factor}
{\it S}_{La}^{Yb}
{\it S}_{La}^{Eu}
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
