<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1657834093.4993091</real>
	<key>UUID</key>
	<string>4A0C147E-4151-4BCD-A18D-7FCFAEEDE6E7</string>
</dict>
</plist>
