<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1657745319.586205</real>
	<key>UUID</key>
	<string>8BE70FD4-9DDC-4B78-8279-342E275DBA2D</string>
</dict>
</plist>
