<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>60</integer>
	<key>Time Stamp</key>
	<real>1673734796.4330239</real>
	<key>UUID</key>
	<string>B5591557-5367-4302-9897-59FFDB2E09C5</string>
</dict>
</plist>
