<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf C. Purity of Eu During Repeated Biosorption/Elution}
{\bf Biosorption/Elution Cycle Number}
{\bf Purity of Eu in Eluant, {\it f}_{Eu, b}}
1. {\it K}_{{\it D} Eu, 0} / {\it K}_{{\it D} Eu, new} = 1.0
2. 1.04
3. 1.08
4. 1.16
5. 1.29
6. 1.55
7. 2.85
8. 6.03
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
