<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1657828877.599807</real>
	<key>UUID</key>
	<string>D8F9E0A3-BEA5-4EA5-A856-44155C697FF5</string>
</dict>
</plist>
