<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1652929973.17379</real>
	<key>UUID</key>
	<string>A8F20AEB-116A-4670-8402-9A5180DF8E6C</string>
</dict>
</plist>
