<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Normal
High
Low

{\bf {\it S. oneidensis} Knockout Collection Plate 80}
{\bf Culture Final OD_{600}}
{\bf Absorbance at 650 nm}
Normal biosorption
High biosorption
Low biosorption
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
