<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1655749461.7234271</real>
	<key>UUID</key>
	<string>81DC2B4B-FEE5-4C3B-BF73-E70ADBC8912E</string>
</dict>
</plist>
