<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf A. Quasi Wild-type Strains in Low Ionic Strength, Low REE}
{\bf Strain}
{\bf REE Biosorption (nmol)}
Total initial REE quantity
Wild-type total biosorption
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
