<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1653451194.319783</real>
	<key>UUID</key>
	<string>A3DD933B-B3B6-4800-8760-E2C1B3148628</string>
</dict>
</plist>
