<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf B. Eu-Bound and Unbound Arsenazo III Spectra}
{\bf Wavelength (nm)}
{\bf Absorbance}
Normal biosorption
Absorbance
Eu-bound As-III
Unbound As-III
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
