<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1656527886.809797</real>
	<key>UUID</key>
	<string>98CCF292-ED12-4FAC-A302-EDF6BC1A0B5E</string>
</dict>
</plist>
