<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>60</integer>
	<key>Time Stamp</key>
	<real>1673724377.9924231</real>
	<key>UUID</key>
	<string>1555676B-6533-4552-8702-7E9D736AF555</string>
</dict>
</plist>
