<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>{\bf D. Separation Factors During Repeated Biosorption/Elution}
{\bf Biosorption/Elution Cycle Number}
{\bf Separation Factor, {\it \alpha}}
1. {\it \alpha}_{Eu}^{Yb} for {\it K}_{D Eu, 0} / {\it K}_{D Eu, New} = 1.0
1. {\it \alpha}_{Eu}^{La} 
1. {\it \alpha}_{Yb}^{La} 
8. {\it \alpha}_{Eu}^{Yb} for {\it K}_{D Eu, 0} / {\it K}_{D Eu, New} = 6.03
8. {\it \alpha}_{Eu}^{La} 
8. {\it \alpha}_{Yb}^{La} 
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
