<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>59</integer>
	<key>Time Stamp</key>
	<real>1656524423.5083361</real>
	<key>UUID</key>
	<string>117AFECA-A7FE-487A-A6D3-751160B28316</string>
</dict>
</plist>
